<hr/>
<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col" *ngFor="let abilityScore of monster.getDetails().getAbilitySet().getAbilityScores()">
      {{abilityScore.getAbility().getNameShort()}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td *ngFor="let abilityScore of monster.getDetails().getAbilitySet().getAbilityScores()">
      {{getAbilityScoreInfo(abilityScore)}}
    </td>
  </tr>
  </tbody>
</table>
<div class="row" *ngIf="monster.getDetails().getSavingThrows().length > 0">
  <div class="col-4 fw-bold">Saving throws</div>
  <div class="col-4"
       *ngFor="let savingThrow of monster.getDetails().getSavingThrows()">{{savingThrow.getAbility().getName()}} {{savingThrow.getModifier()}}</div>
</div>
<div class="row">
  <hr>
  <div class="col-4 fw-bold" *ngIf="monster.getDetails().getSkills().length > 0">Skills</div>
  <div class="col-4" *ngFor="let skill of monster.getDetails().getSkills()">{{skill.getSkill()}} {{skill.getScore()}}</div>
</div>
<div class="row" *ngIf="monster.getDetails().getDamageResistances()">
  <hr>
  <div class="col-4 fw-bold">Damage Resistances</div>
  <div class="col">{{getDamageResistances()}}</div>
</div>
<div class="row" *ngIf="monster.getDetails().getDamageImmunities()">
  <hr>
  <div class="col-4 fw-bold">Damage Immunities</div>
  <div class="col">{{getDamageImmunities()}}</div>
</div>
<div class="row" *ngIf="monster.getDetails().getConditionImmunities().length > 0">
  <hr>
  <div class="col-4 fw-bold">Condition Immunities</div>
  <div class="col">{{getConditionImmunities()}}</div>
</div>
<div class="row" *ngIf="monster.getDetails().getSenses()">
  <hr>
  <div class="col-4 fw-bold">Senses</div>
  <div class="col">{{getSenses()}}</div>
  <hr>
</div>
<div class="row">
  <div class="col-4 fw-bold">Languages</div>
  <div class="col">{{getLanguages()}}</div>
</div>
<div class="row" *ngFor="let trait of monster.getDetails().getSpecialTraits()">
  <hr>
  <div class="col-4 fw-bold">{{trait.getName()}}</div>
  <div class="col-8">
    {{trait.getDescription()}}
  </div>
</div>
<div class="row">Actions</div>
  <hr>
<div class="row" *ngFor="let action of monster.getDetails().getActions()">
  <div class="col-4 fw-bold">{{action.getName()}}.</div>
  <div class="col-8">
      <div *ngIf="isActionTypeSpecified(action); else actionTypeNotSpecifiedBlock">
        <div class="fst-italic">{{action.getDescription().getActionType()}}:</div>
        <p class="fst-normal">{{action.getDescription().getDescription()}}</p>
      </div>
      <ng-template #actionTypeNotSpecifiedBlock>
        <p class="fst-normal">{{action.getDescription().getDescription()}}</p>
      </ng-template>
    <div *ngFor="let actionPoint of action.getDescription().getPoints(); let i = index" [attr.data-index]="i">
      <p class="fst-italic">{{i+1}}) {{actionPoint.getTitle()}}.</p> <p class="fst-normal">{{actionPoint.getText()}}</p>
    </div>
  </div>
</div>
<div *ngIf="monster.getDetails().getReactions().length > 0">
  <hr>
  <div class="row">Reactions</div>
  <div class="row" *ngFor="let reaction of monster.getDetails().getReactions()">
    <div class="col-4 fw-bold">{{reaction.getName()}}</div>
    <div class="col-8">
      {{reaction.getDescription()}}
    </div>
  </div>
</div>
<div *ngIf="monster.getDetails().getLegendaryActions().length > 0">
  <hr>
  <div class="row">Legendary Actions</div>
  <div class="row" *ngFor="let action of monster.getDetails().getLegendaryActions()">
    <div class="col-4 fw-bold">{{action.getName()}}</div>
    <div class="col-8">
      {{action.getDescription()}}
    </div>
  </div>
</div>
