<h2>Traveling</h2>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Paces and distances</h5>
        <p class="card-text">Travel paces and covered distances.</p>
        <button class="btn btn-primary" routerLink="paces-and-distances">Show</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Wilderness</h5>
        <p class="card-text">Rules for movement in the wilderness</p>
        <button class="btn btn-primary" routerLink="wilderness">Show</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
