<div class="row">
  <div class="col">
    <h2>Skills</h2>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Ability Score</th>
        <th scope="col">Associated Skills</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Strength</td>
        <td>Athletics</td>
      </tr>
      <tr>
        <td>Dexterity</td>
        <td>Acrobatics, Sleight of Hand, Stealth</td>
      </tr>
      <tr>
        <td>Constitution</td>
        <td>N/A (See Constitution table)</td>
      </tr>
      <tr>
        <td>Intelligence</td>
        <td>Arcana, History, Investigation, Nature, Religion</td>
      </tr>
      <tr>
        <td>Wisdom</td>
        <td>Animal Handling, Insight, Medicine, Perception, Survival</td>
      </tr>
      <tr>
        <td>Charisma</td>
        <td>Deception, Intimidation, Performance, Persuasion</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <div class="col">
      <h2>Typical Difficulty Classes</h2>
      <table class="table table-hover table-dark">
        <thead>
        <tr>
          <th scope="col">Task Difficulty</th>
          <th scope="col">DC</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Trivial</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Easy</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Moderate</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Hard</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Very Hard</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Nearly Impossible</td>
          <td>30</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
