<div class="row">
  <div class="col">
    <div>
      Temporary Hit Points: {{character.getTemporaryHitPoints().getHitPoints()}}
      Turns left: {{character.getTemporaryHitPoints().getTurnsLeft()}}
    </div>
  </div>
  <div class="col">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse"
         role="button" aria-expanded="false" (click)="showTemporaryHitPoints()">
        Add temporary Hit Points
      </a>
    </p>
  </div>
</div>
<div class="row">
  <div [ngbCollapse]="isCollapsed">
    <input type="number" class="input" placeholder="Hit Points amount"
           (keyup)="setTemporaryHitPointsToAdd($event)"
    >
    <input type="number" class="input" placeholder="Duration (optional)"
           (keyup)="setTemporaryHitPointsToAddDuration($event)"
    >
    <button class="btn btn-primary" (click)="onSubmitTemporaryHitPoints(character)">Submit</button>
  </div>
</div>
