<div class="row">
  <div class="col">
    Enter XP and count manually:
    <div class="row">
      <div class="col">
        <input type="number" id="monsterXpInput" placeholder="Enter monster XP sum" [(ngModel)]="monsterXp">
      </div>
      <div class="col">
        <input type="number" id="monsterCountInput" placeholder="Enter monster count"
               [(ngModel)]="monsterCount">
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="getDifficulty()">Submit</button>
      </div>
        <h4>Difficulty: {{difficulty}}</h4>
        <app-difficulty-bar [difficulty]="difficulty"></app-difficulty-bar>
    </div>
    <div>
      Characters total daily XP budget: {{totalDailyXpBudget}}
    </div>
  </div>
</div>
