<div class="row">
  <div class="col">
    <input type="text" placeholder="Filter by name" [(ngModel)]="monsterNameActiveFilterString"
           (ngModelChange)="getMonstersFiltered()">
  </div>
  <div class="col">
    <div class="card-body">
      <div class="card-title">
        <h4>Filter options</h4>
      </div>
      <button i18n="add event button|Button used to add event that happened during campaign" type="button"
              class="btn btn-primary"
              (click)="collapse.toggle();"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapse">
        Show challenge level filters
      </button>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="checkbox-enable-all-challenge-levels"
                   [(ngModel)]="enableAllChallengeLevels"
                   (change)="enableAllChallengeLevelsFilter()">
            <label for="checkbox-enable-all-challenge-levels" class="form-check-label">Enable all</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="checkbox-disable-all-challenge-levels"
                   [(ngModel)]="disableAllChallengeLevels"
                   (change)="disableAllChallengeLevelsFilter()">
            <label for="checkbox-disable-all-challenge-levels" class="form-check-label">Disable all</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let challengeLevelFilterEntry of enabledChallengeLevelFilters | keyvalue">
          <!--          TODO: somehow this needs to be split into smaller ones instead one big vertical list -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value=""
                   [attr.id]="'checkbox-challenge-' + challengeLevelFilterEntry.key.getChallengeFormatted()"
                   [(ngModel)]="challengeLevelFilterEntry.value"
                   (change)="changeChallengeFilterValue(challengeLevelFilterEntry.key)"
            >
            <label [attr.for]="'checkbox-challenge-' + challengeLevelFilterEntry.key.getChallengeFormatted()"
                   class="form-check-label">{{challengeLevelFilterEntry.key.getChallengeFormatted()}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let monster of getMonstersFiltered()" class="list-group-item col-4 card bg-gradient">
    <h5 class="card-title">{{monster.getBasicInfo().getName()}}</h5>
    <h6 class="card-subtitle">{{getOverview(monster)}}</h6>
    <hr/>
    <div class="row">
      <div class="col-9">
        <div class="row">{{getArmorClass(monster)}}</div>
        <div class="row">{{getHitPoints(monster)}}</div>
        <div class="row">{{getSpeed(monster)}}</div>
        <div class="row">{{getChallenge(monster)}}</div>
      </div>
      <div class="col-3">
        <button class="btn btn-primary"
                (click)="toggleDetails(monster);">
          Details
        </button>
      </div>
    </div>
    <app-monster-details *ngIf="showMonsterDetails(monster)" [monster]="monster"></app-monster-details>
  </div>
</div>
