<button class="btn btn-primary" (click)="logOut()">Log out</button>
<div id="campaign-selector" class="card w-50">
  <div class="card-body">
    <h4 class="card-title">No campaign selected</h4>
    <p class="card-text">You haven't selected active campaign. Please choose one from the list or create a new one.</p>
    <div class="list-group">
      <a *ngFor="let campaign of campaigns" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <div class="row">
            <div class="col-md-5">
              <button class="btn btn-outline-secondary" (click)="loadCampaign(campaign)">{{ campaign.name }}</button>
            </div>
            <div class="col-md-4">
              <small>Last played: {{campaign.realDateLastPlayed}}</small>
            </div>
            <div class="col-md-3">
              <button id="delete-campaign-button-{{campaign.name}}"
                      class="btn btn-danger" (click)="deleteCampaign(campaign)">Delete</button>
            </div>
          </div>
        </div>
      </a>
    </div>
    <button id="create-campaign-button" class="btn btn-primary" (click)="collapse.toggle()">Create campaign</button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCampaignCreationCollapsed">
      <form [formGroup]="campaignCreationFormGroup" (ngSubmit)="createCampaign()">
        <input id="create-campaign-name-input" type="text" class="form-control" placeholder="Enter campaign name"
               formControlName="campaignName">
<!--        TODO: use loop when calendar of Harptos is implemented -->
        <div class="row">
          <div class="col">
            <label>Choose calendar system</label>
          </div>
          <div class="col">
            <select id="create-campaign-calendar-selector" formControlName="calendarSystem">
              <option value="">Select calendar system</option>
              <option id="select-gregorian-calendar" value="GREGORIAN">Gregorian</option>
              <option disabled value="HARPTOS">Calendar of Harptos (Forgotten Realms)</option>
            </select>
          </div>
        </div>
        <div *ngIf="isGregorianCalendarSelected()">
          <ngb-datepicker id="create-campaign-start-date-picker" formControlName="campaignStartDate"></ngb-datepicker>
          <ngb-timepicker id="create-campaign-start-time-picker"
                          [seconds]="true" [spinners]="false" formControlName="campaignStartTime">
          </ngb-timepicker>
        </div>
        <button [disabled]="!campaignCreationFormGroup.valid" id="create-campaign-submit-button"
                type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
  </div>
</div>

<!--TODO: maybe replace it later with validation and message under the campaign name text field-->
<ng-template #campaignCreationFailModal>
  <div id="campaign-creation-failed-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="bad-credentials-modal-title">Failed to create campaign</h4>
    </div>
    <div class="modal-body">
      <p>Check if you have already created a campaign using the same name.</p>
    </div>
    <div class="modal-footer">
      <button id="bad-credentials-modal-close-button"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #campaignDeletedModal>
  <div id="campaign-deleted-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="campaign-deleted-modal-title">Deletion successful</h4>
    </div>
    <div class="modal-body">
      <p>Campaign deleted.</p>
    </div>
    <div class="modal-footer">
      <button id="campaign-deleted-modal-close-button"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #campaignLoadFailedModal>
  <div id="campaign-load-failed-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="campaign-load-failed-modal-title">Failed to load campaign</h4>
    </div>
    <div class="modal-body">
      <p>For some reason, campaign load has failed.</p>
    </div>
    <div class="modal-footer">
      <button id="campaign-load-failed-modal-close-button"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </div>
</ng-template>
