<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">Degree</th>
    <th scope="col">Effect</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Half Cover</td>
    <td>Grants +2 bonus to AC and Dexterity saving throws.</td>
  </tr>
  <tr>
    <td>Three-quarters Cover</td>
    <td>Grants +5 bonus to AC and Dexterity saving throws.</td>
  </tr>
  <tr>
    <td>Total Cover</td>
    <td>
      Cannot be targeted directly by attacks or spells, although area of effect spells and abilities are still
      effective.
    </td>
  </tr>
  </tbody>
</table>
