button {
  background-color: grey;
}

button:disabled {
  background-color: #1e211f;
  color: grey;
}

select {
  color: lightgrey;
  background-color: #383838;

  border-color: orange;
  border-style: groove;
}

.modal-header {
  background-color: #383838;
}

.modal-body {
  background-color: #383838;
}

.modal-footer {
  background-color: #383838;
}
