<div class="container">
  <app-prepare-battle #prepareBattleComponent *ngIf="!isBattleStarted else appTracker"
                      [actors]="actors"
                      (battleStartedEmitter)="startBattle()"></app-prepare-battle>
  <ng-template #appTracker>
    <app-tracker (battleEndedEmitter)="endBattle()" [actors]="actors"></app-tracker>
  </ng-template>
</div>

<ng-template #initiativeConflictModal>
  <div class="modal-header">
    <h4 i18n="initiative conflict modal header|Title for modal"
        class="modal-title" id="modal-basic-title">Initiative conflict</h4>
  </div>
  <div class="modal-body">
    <p i18n="set priority header">Set priority for conflicted actors:</p>
    <div *ngFor="let actor of this.conflictedActors">
      <div class="row">
        <div class="col-sm-6">{{actor.name}}</div>
        <div class="col-sm-6">
          <input type="number" class="input" placeholder="0" (keyup)="onActorPriorityEntered(actor, $event)">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n="resolve button|Button clicked when initiative conflicts are resolved"
            type="button" class="btn btn-outline-dark" (click)="onClickResolveConflict()">Resolve
    </button>
  </div>
</ng-template>

