<div class="container-fluid">
  <app-battle-actors #child *ngIf="!isBattleStarted"></app-battle-actors>
  <button class="btn" *ngIf="!isBattleStarted" (click)="changeBattleStatus()">Start battle!</button>
  <div *ngIf="isBattleStarted">
    Turn: {{turn}}
    <ul>
      <li *ngFor="let actor of this.battleActors">
        <div>
          {{actor.name}}
          <button class="btn" (click)="progressActor(actor)" [disabled]="isActorProgressed(actor)">
            Progress
          </button>
        </div>
      </li>
    </ul>
    <button class="btn" (click)="changeBattleStatus()">End battle!</button>
  </div>
</div>
