<div class="row">
  <button class="btn btn-secondary list-group-item col-3 card" routerLink="traveling">
    <h5 class="card-title">Traveling</h5>
    <p class="card-text">Cheat sheet for traveling paces, distance and time.</p>
  </button>
  <button class="btn btn-secondary list-group-item col-3 card" routerLink="cover">
    <h5 class="card-title">Cover</h5>
    <p class="card-text">Cheat sheet displaying cover rules.</p>
  </button>
  <button class="btn btn-secondary list-group-item col-3 card" routerLink="ability-checks">
    <h5 class="card-title">Ability Checks</h5>
    <p class="card-text">Abilities with their associated skills and typical difficulty classes.</p>
  </button>
  <button class="btn btn-secondary list-group-item col-3 card" routerLink="combat-encounter">
    <h5 class="card-title">Combat Creation</h5>
    <p class="card-text">Tables representing data useful to create combat encounters</p>
  </button>
</div>

<router-outlet></router-outlet>
