<div class="row gx-5">
  <div class="col-sm-4">
    <div>
      <h3>
        Encounter difficulty:
      </h3>
      <h2>
        {{getDifficulty()}}
      </h2>
      <app-difficulty-bar [difficulty]="encounterDifficulty"></app-difficulty-bar>
    </div>
    <div>
      <div class="row gx-2">
        <div class="col">
          <button i18n="confirm monsters button|Button used to add selected monsters to battle before it starts"
                  class="btn btn-primary" (click)="addMonstersToBattle()">Confirm monsters
          </button>
        </div>
        <div class="col">
          <label for="randomizeMonstersHP" class="form-check-label" >Randomize HP</label>
          <input type="checkbox" class="form-check-input" value="" id="randomizeMonstersHP"
                 [(ngModel)]="randomizeMonstersHPCheckboxChecked">
        </div>
      </div>
    </div>
    <hr>
    <div>
      <button i18n="start battle button|Button used to start combat"
              class="col btn btn-primary" (click)="startBattle()">Start battle!
      </button>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="list-group" *ngFor="let monster of monsterService.getMonsters()">
      <div class="list-group-item list-group-item-action list-group-item-dark">
        <div class="row">
          <div class="col-sm-4">{{monster.getBasicInfo().getName()}}</div>
          <div class="col-sm-4">{{getChallenge(monster)}}</div>
          <div class="col-sm-3">
            <button class="btn btn-primary" (click)="addMonster(monster)">+</button>
            <button class="btn btn-primary" (click)="subtractMonster(monster)"
                    [disabled]="getMonsterCount(monster) === 0">-
            </button>
          </div>
          <div class="col-sm-1">
            <div *ngIf="getMonsterCount(monster) > 0">({{getMonsterCount(monster)}})</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
