<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="login-username-input" class="form-label">Username</label>
  <input id="login-username-input" type="text" formControlName="username" class="form-control">

  <label for="login-password-input" class="form-label">Password</label>
  <input id="login-password-input" type="password" formControlName="password" class="form-control">

  <button id="login-submit-button"
          [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Submit</button>
</form>
