<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Set up characters before starting the battle:</h2>
      <table *ngIf="actors.length > 0; else addActorBlock" class="table table-hover table-dark">
        <thead>
        <tr>
          <th scope="col">Actor</th>
          <th scope="col">HP (Max)</th>
          <th>Initiative</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let actor of actors">
          <td>
            {{actor.name}}
          </td>
          <td>{{actor.currentHp}} ({{actor.maxHp}})</td>
          <td>
            <label [for]="actor.name+'-initiative'">Set initiative:</label>
            <input class="form-control form-control-sm" [attr.id]="actor.name+'-initiative'" type="text" required
                   (keyup)="setActorInitiative(actor, $event)"
                   [value]="getInitiativeForActor(actor)">
          </td>
          <td>
            <button class="btn btn-primary" (click)="removeActor(actor)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-template #addActorBlock>
        <h4 class="fst-italic">
          There are no Player Characters in your campaign or you have disabled loading them automatically to the
          battle list. If you don't want to add any persistent Player Character or change the settings, you can
          create a simple, temporary battle participant by using the input below.
        </h4>
      </ng-template>
    </div>
    <div class="col">
      <h2>Add predefined encounter:</h2>
      <p *ngIf="encounters.length == 0" class="fst-italic">
        No saved encounters found.
      </p>
      <ul class="list-group" *ngFor="let encounter of encounters">
        <app-saved-encounter [encounter]="encounter" (encounterEmitter)="addMonstersToBattle($event)"></app-saved-encounter>
      </ul>
    </div>
  </div>

</div>
<div class="container-fluid">
  <app-add-actor (actorEmitter)="addActor($event)"></app-add-actor>
  <app-monster-battle-list-selector (battleStartEmitter)="startBattle()" (monstersEmitter)="addMonstersToBattle($event)"
                                    [participatingActors]="playerCharacters"></app-monster-battle-list-selector>
</div>
