<div class="container-fluid">
  <h2>Set up actors before starting the battle:</h2>
  <table class="table table-hover table-dark">
    <tbody>
    <tr *ngFor="let actor of actors">
      <td>
        {{actor.name}}
      </td>
      <td>
        <label for="initiative">Set initiative:</label>
        <input class="form-control form-control-sm" id="initiative" type="text" required [(ngModel)]="actor.initiative">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <app-add-actor></app-add-actor>
</div>
