<div class="row">
  <div class="col-sm-4">
    <div>
      Difficulty: {{getDifficulty().getDescription()}}
    </div>
    <div class="div">
      Protagonist count: {{participatingActors.length}}
    </div>
    <div class="div">
      Monster count: {{getTotalMonstersSelected()}}
    </div>
    <div>
      Selected monsters:
      <div *ngFor="let monsterCountEntry of selectedMonstersCount | keyvalue">
        {{monsterCountEntry.key.getName()}} ({{monsterCountEntry.value}})
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="list-group" *ngFor="let monster of monsterService.getMonsters()">
      <div class="list-group-item list-group-item-action list-group-item-dark">
        <div class="row">
          <div class="col">{{monster.getName()}}</div>
          <div class="col">{{getChallenge(monster)}}</div>
          <div class="col">
            <button class="btn btn-primary" (click)="addMonster(monster)">+</button>
            <button class="btn btn-primary" (click)="subtractMonster(monster)">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
