<div class="row">
  <div class="col">
    <h3>XP Thresholds by Character Level</h3>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Character Level</th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{easyDifficultyTooltip}}">Easy</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{mediumDifficultyTooltip}}">Medium</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{hardDifficultyTooltip}}">Hard</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{deadlyDifficultyTooltip}}">Deadly</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1st</td>
        <td>{{getEasyThreshold(1)}}</td>
        <td>{{getMediumThreshold(1)}}</td>
        <td>{{getHardThreshold(1)}}</td>
        <td>{{getDeadlyThreshold(1)}}</td>
      </tr>
      <tr>
        <td>2nd</td>
        <td>{{getEasyThreshold(2)}}</td>
        <td>{{getMediumThreshold(2)}}</td>
        <td>{{getHardThreshold(2)}}</td>
        <td>{{getDeadlyThreshold(2)}}</td>
      </tr>
      <tr>
        <td>3rd</td>
        <td>{{getEasyThreshold(3)}}</td>
        <td>{{getMediumThreshold(3)}}</td>
        <td>{{getHardThreshold(3)}}</td>
        <td>{{getDeadlyThreshold(3)}}</td>
      </tr>
      <tr>
        <td>4th</td>
        <td>{{getEasyThreshold(4)}}</td>
        <td>{{getMediumThreshold(4)}}</td>
        <td>{{getHardThreshold(4)}}</td>
        <td>{{getDeadlyThreshold(4)}}</td>
      </tr>
      <tr>
        <td>5th</td>
        <td>{{getEasyThreshold(5)}}</td>
        <td>{{getMediumThreshold(5)}}</td>
        <td>{{getHardThreshold(5)}}</td>
        <td>{{getDeadlyThreshold(5)}}</td>
      </tr>
      <tr>
        <td>6th</td>
        <td>{{getEasyThreshold(6)}}</td>
        <td>{{getMediumThreshold(6)}}</td>
        <td>{{getHardThreshold(6)}}</td>
        <td>{{getDeadlyThreshold(6)}}</td>
      </tr>
      <tr>
        <td>7th</td>
        <td>{{getEasyThreshold(7)}}</td>
        <td>{{getMediumThreshold(7)}}</td>
        <td>{{getHardThreshold(7)}}</td>
        <td>{{getDeadlyThreshold(7)}}</td>
      </tr>
      <tr>
        <td>8th</td>
        <td>{{getEasyThreshold(8)}}</td>
        <td>{{getMediumThreshold(8)}}</td>
        <td>{{getHardThreshold(8)}}</td>
        <td>{{getDeadlyThreshold(8)}}</td>
      </tr>
      <tr>
        <td>9th</td>
        <td>{{getEasyThreshold(9)}}</td>
        <td>{{getMediumThreshold(9)}}</td>
        <td>{{getHardThreshold(9)}}</td>
        <td>{{getDeadlyThreshold(9)}}</td>
      </tr>
      <tr>
        <td>10th</td>
        <td>{{getEasyThreshold(10)}}</td>
        <td>{{getMediumThreshold(10)}}</td>
        <td>{{getHardThreshold(10)}}</td>
        <td>{{getDeadlyThreshold(10)}}</td>
      </tr>
      <tr>
        <td>11th</td>
        <td>{{getEasyThreshold(11)}}</td>
        <td>{{getMediumThreshold(11)}}</td>
        <td>{{getHardThreshold(11)}}</td>
        <td>{{getDeadlyThreshold(11)}}</td>
      </tr>
      <tr>
        <td>12th</td>
        <td>{{getEasyThreshold(12)}}</td>
        <td>{{getMediumThreshold(12)}}</td>
        <td>{{getHardThreshold(12)}}</td>
        <td>{{getDeadlyThreshold(12)}}</td>
      </tr>
      <tr>
        <td>13th</td>
        <td>{{getEasyThreshold(13)}}</td>
        <td>{{getMediumThreshold(13)}}</td>
        <td>{{getHardThreshold(13)}}</td>
        <td>{{getDeadlyThreshold(13)}}</td>
      </tr>
      <tr>
        <td>14th</td>
        <td>{{getEasyThreshold(14)}}</td>
        <td>{{getMediumThreshold(14)}}</td>
        <td>{{getHardThreshold(14)}}</td>
        <td>{{getDeadlyThreshold(14)}}</td>
      </tr>
      <tr>
        <td>15th</td>
        <td>{{getEasyThreshold(15)}}</td>
        <td>{{getMediumThreshold(15)}}</td>
        <td>{{getHardThreshold(15)}}</td>
        <td>{{getDeadlyThreshold(15)}}</td>
      </tr>
      <tr>
        <td>16th</td>
        <td>{{getEasyThreshold(16)}}</td>
        <td>{{getMediumThreshold(16)}}</td>
        <td>{{getHardThreshold(16)}}</td>
        <td>{{getDeadlyThreshold(16)}}</td>
      </tr>
      <tr>
        <td>17th</td>
        <td>{{getEasyThreshold(17)}}</td>
        <td>{{getMediumThreshold(17)}}</td>
        <td>{{getHardThreshold(17)}}</td>
        <td>{{getDeadlyThreshold(17)}}</td>
      </tr>
      <tr>
        <td>18th</td>
        <td>{{getEasyThreshold(18)}}</td>
        <td>{{getMediumThreshold(18)}}</td>
        <td>{{getHardThreshold(18)}}</td>
        <td>{{getDeadlyThreshold(18)}}</td>
      </tr>
      <tr>
        <td>19th</td>
        <td>{{getEasyThreshold(19)}}</td>
        <td>{{getMediumThreshold(19)}}</td>
        <td>{{getHardThreshold(19)}}</td>
        <td>{{getDeadlyThreshold(19)}}</td>
      </tr>
      <tr>
        <td>20th</td>
        <td>{{getEasyThreshold(20)}}</td>
        <td>{{getMediumThreshold(20)}}</td>
        <td>{{getHardThreshold(20)}}</td>
        <td>{{getDeadlyThreshold(20)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Encounter Multipliers</h3>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Number of Monsters</th>
        <th scope="col">Multiplier</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>x 1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>x 1.5</td>
      </tr>
      <tr>
        <td>3-6</td>
        <td>x 2</td>
      </tr>
      <tr>
        <td>7-10</td>
        <td>x 2.5</td>
      </tr>
      <tr>
        <td>11-14</td>
        <td>x 3</td>
      </tr>
      <tr>
        <td>15 or more</td>
        <td>x 4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
