<div class="row">
  <div class="col">
    <h3>XP Thresholds by Character Level</h3>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Character Level</th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{easyDifficultyTooltip}}">Easy</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{mediumDifficultyTooltip}}">Medium</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{hardDifficultyTooltip}}">Hard</button>
        </th>
        <th scope="col">
          <button class="btn btn-outline-secondary me-2" ngbTooltip="{{deadlyDifficultyTooltip}}">Deadly</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1st</td>
        <td>25</td>
        <td>50</td>
        <td>75</td>
        <td>100</td>
      </tr>
      <tr>
        <td>2nd</td>
        <td>50</td>
        <td>100</td>
        <td>150</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3rd</td>
        <td>75</td>
        <td>150</td>
        <td>225</td>
        <td>400</td>
      </tr>
      <tr>
        <td>4th</td>
        <td>125</td>
        <td>250</td>
        <td>375</td>
        <td>500</td>
      </tr>
      <tr>
        <td>5th</td>
        <td>250</td>
        <td>500</td>
        <td>750</td>
        <td>1100</td>
      </tr>
      <tr>
        <td>6th</td>
        <td>300</td>
        <td>600</td>
        <td>900</td>
        <td>1400</td>
      </tr>
      <tr>
        <td>7th</td>
        <td>350</td>
        <td>750</td>
        <td>1100</td>
        <td>1700</td>
      </tr>
      <tr>
        <td>8th</td>
        <td>450</td>
        <td>900</td>
        <td>1400</td>
        <td>2100</td>
      </tr>
      <tr>
        <td>9th</td>
        <td>550</td>
        <td>1100</td>
        <td>1600</td>
        <td>2400</td>
      </tr>
      <tr>
        <td>10th</td>
        <td>600</td>
        <td>1200</td>
        <td>1900</td>
        <td>2800</td>
      </tr>
      <tr>
        <td>11th</td>
        <td>800</td>
        <td>1600</td>
        <td>2400</td>
        <td>3600</td>
      </tr>
      <tr>
        <td>12th</td>
        <td>1000</td>
        <td>2000</td>
        <td>3000</td>
        <td>4500</td>
      </tr>
      <tr>
        <td>13th</td>
        <td>1100</td>
        <td>2200</td>
        <td>3400</td>
        <td>5100</td>
      </tr>
      <tr>
        <td>14th</td>
        <td>1250</td>
        <td>2500</td>
        <td>3800</td>
        <td>5700</td>
      </tr>
      <tr>
        <td>15th</td>
        <td>1400</td>
        <td>2800</td>
        <td>4300</td>
        <td>6400</td>
      </tr>
      <tr>
        <td>16th</td>
        <td>1600</td>
        <td>3200</td>
        <td>4800</td>
        <td>7200</td>
      </tr>
      <tr>
        <td>17th</td>
        <td>2000</td>
        <td>3900</td>
        <td>5900</td>
        <td>8800</td>
      </tr>
      <tr>
        <td>18th</td>
        <td>2100</td>
        <td>4200</td>
        <td>6300</td>
        <td>9500</td>
      </tr>
      <tr>
        <td>19th</td>
        <td>2400</td>
        <td>4900</td>
        <td>7300</td>
        <td>10900</td>
      </tr>
      <tr>
        <td>20th</td>
        <td>2800</td>
        <td>5700</td>
        <td>8500</td>
        <td>12700</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Encounter Multipliers</h3>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Number of Monsters</th>
        <th scope="col">Multiplier</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>x 1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>x 1.5</td>
      </tr>
      <tr>
        <td>3-6</td>
        <td>x 2</td>
      </tr>
      <tr>
        <td>7-10</td>
        <td>x 2.5</td>
      </tr>
      <tr>
        <td>11-14</td>
        <td>x 3</td>
      </tr>
      <tr>
        <td>15 or more</td>
        <td>x 4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
