<button *ngIf="!isExhaustion()" class="btn btn-primary" [ngbTooltip]="tooltip">{{condition.getName()}}</button>
<div *ngIf="isExhaustion()">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary"
              [ngbTooltip]="exhaustionTooltip">{{condition.getName()}}</button>
    </div>
    <div class="col">
          <p>Level: {{condition.getExhaustionLevel()}}</p>
          <button class="btn btn-primary" (click)="incrementExhaustionLevel()">+</button>
          <button class="btn btn-primary" (click)="decrementExhaustionLevel()">-</button>
    </div>
  </div>
</div>

<ng-template #tooltip>
  <ul class="list-group">
    <li *ngFor="let descriptionPoint of condition.getDescription()" class="list-group-item">
      {{descriptionPoint}}
    </li>
  </ul>
</ng-template>

<ng-template #exhaustionTooltip>
  <ul class="list-group">
    <li *ngFor="let descriptionPoint of condition.getDescription()" class="list-group-item">
      {{descriptionPoint}}
    </li>
  </ul>
  <table class="table-tooltip">
    <thead>
    <tr>
      <th>Level</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let levelToDescription of exhaustionLevelsMap | keyvalue">
      <td>{{levelToDescription.key}}</td>
      <td>{{levelToDescription.value}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
