<p>
  <span class="row">
    <span class="col">
      <span class="card" style="width: 18rem;">
        <span class="card-body">
          <span class="row h3 fw-bold">
            {{this.currentDate.getDate()}},
            {{this.currentDate.toLocaleString('en-US', { month: 'long' })}},
            {{this.currentDate.getFullYear()}}</span>
          <span class="row h3 fw-bold">{{currentDate.getHours()}}:{{currentDate.getMinutes()}}</span>
        </span>
      </span>
    </span>
    <span class="col">
        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle(); dp.navigateTo(getCurrentDateModel())"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
          Edit
        </button>
    </span>
  </span>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <ngb-datepicker #dp [(ngModel)]="dateModel"></ngb-datepicker>
      <ngb-timepicker [(ngModel)]="timeModel" [seconds]="true" [spinners]="false"></ngb-timepicker>
      <button class="btn btn-primary" (click)="onConfirmDate()">Confirm date</button>
    </div>
  </div>
</div>
