<div class="row">
  <div class="col">
    <div class="card" id="time-configuration-card" style="width: 18rem;">
      <div class="card-body">
        <div class="row h3 fw-bold">
          <div class="col">{{getCurrentDateFormatted()}}</div>
        </div>
        <div class="row h4 fw-bold">
          <div class="col">
            <p id="current-hour-info">{{currentDate.getHours()}}:{{currentDate.getMinutes()}}</p>
          </div>
          <div class="col">
            <button id="edit-time-button"
                    i18n="edit button|Button to start editing campaign time" type="button" class="btn btn-primary"
                    (click)="collapse.toggle(); dp.navigateTo(getCurrentDateModel())"
                    [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <ngb-datepicker #dp [(ngModel)]="dateModel"></ngb-datepicker>
          <ngb-timepicker [(ngModel)]="timeModel" [seconds]="true" [spinners]="false"></ngb-timepicker>
          <button i18n="confirm date button|Button to finish campaign time editing" class="btn btn-primary" (click)="onConfirmDate()">Confirm date</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 i18n="add or subtract time button|Button to add or subtract current time in campaign by a specified amount" class="card-title">Add or subtract time</h5>
          <input i18n-placeholder="months|Input placeholder to add or subtract months" type="number" placeholder="Months" [(ngModel)]="timeChangeInput.months">
          <input i18n-placeholder="days|Input placeholder to add or subtract days" type="number" placeholder="Days" [(ngModel)]="timeChangeInput.days">
          <input i18n-placeholder="hours|Input placeholder to add or subtract hours" type="number" placeholder="Hours" [(ngModel)]="timeChangeInput.hours">
          <input i18n-placeholder="minutes|Input placeholder to add or subtract minutes " type="number" placeholder="Minutes" [(ngModel)]="timeChangeInput.minutes">
          <input i18n-placeholder="months|Input placeholder to add or subtract seconds" type="number" placeholder="Seconds" [(ngModel)]="timeChangeInput.seconds">
          <button i18n="add button|Button to add time to the campaign current date" class="btn btn-info" (click)="addTime()">Add</button>
          <button i18n="subtract button|Button to subtract time from the current campaign date" class="btn btn-info" (click)="subtractTime()">Subtract</button>
        </div>
      </div>
    </div>
  </div>
</div>
