<div class="container">

  <button class="btn btn-primary" (click)="clearLocalStorage()">CLEAR LOCAL STORAGE</button>
  <button class="btn btn-primary" (click)="restoreLocalStorage()">RESTORE LOCAL STORAGE</button>

  <div *ngIf="isCampaignSelected(); else campaignSelectorBlock">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a id="nav-campaign-overview-link"
           i18n="campaign overview header|Campaign Overview section name@@campaign-overview"
           class="navbar-brand" routerLink="campaign-overview">Campaign Overview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="nav-battle-link"
                 i18n="battle header|Battle section name" routerLink="battle" class="nav-link" aria-current="page">Battle</a>
            </li>
            <li class="nav-item">
              <a id="nav-resting-link"
                 i18n="resting header|Resting section name" routerLink="resting" class="nav-link" aria-current="page">Resting</a>
            </li>
            <li class="nav-item">
              <a id="nav-cheat-sheets-link"
                 i18n="cheat sheets header|Cheat sheets section name" routerLink="cheat-sheets" class="nav-link">Cheat
                Sheets</a>
            </li>
            <li class="nav-item">
              <a id="nav-tools-link"
                 i18n="tools header|Tools section name" routerLink="tools" class="nav-link">Tools</a>
            </li>
            <li class="nav-item">
              <a id="nav-notes-link"
                 i18n="notes header|Notes section name" routerLink="notes" class="nav-link">Notes</a>
            </li>
            <li class="nav-item">
              <a id="nav-monsters-link"
                 i18n="monsters header|Monsters section name" routerLink="monsters" class="nav-link">Monsters</a>
            </li>
            <li class="nav-item">
              <a id="nav-settings-link"
                 i18n="settings header|Settings section name" routerLink="settings" class="nav-link">Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #campaignSelectorBlock>
  <app-campaign-selector></app-campaign-selector>
</ng-template>

