<h3 i18n="round header|Header presenting which round it is during combat"
>Round: {{round}}</h3>
<h4>Time passed: {{(round - 1) * 6}} seconds</h4>
<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th i18n="|Column showing character name"
        scope="col">Character
    </th>
    <th i18n="|Column showing character Hit Points, current and maximum in brackets"
        scope="col">Hit Points (Max)
    </th>
    <th i18n="|Column showing Conditions which given character is under effect of"
        scope="col">Conditions
    </th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let actor of actors">
    <td>{{actor.name}}</td>
    <!--                <td>{{actor | json}}</td>-->
    <td>
      <div class="row">
        <div class="col">{{actor.getCurrentHP()}} ({{actor.getMaxHP()}})</div>
        <div class="col">
          <input i18n-placeholder="add or subtract HP|Placeholder for input modifying character's HP"
                 type="number" class="input" placeholder="Add or subtract" [disabled]="actor.isDead()"
                 (keydown.enter)="onSubmitHP(actor, $event)">
        </div>
      </div>
      <app-temporary-hit-points *ngIf="!actor.isDead()" [character]="actor"></app-temporary-hit-points>
      <div *ngIf="showDeathSavingThrows(actor)">
        <app-death-saving-throws
          [actor]="actor" [actorReceivingDamage]="isActorReceivingDamage(actor)"
          (damageReceivedEmitter)="damageReceived(actor)"
        >
        </app-death-saving-throws>
      </div>
    </td>
    <td>
      <app-condition [actor]="actor"></app-condition>
    </td>
    <td>
      <button i18n="progress button|Button used to indicate that a character have progressed their turn"
              class="btn" (click)="progressActor(actor)" [disabled]="isActorProgressed(actor)">
        Progress
      </button>
      <div class="row">
        <app-resurrection *ngIf="actor.isDead()" [character]="actor" [round]="this.round"></app-resurrection>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<app-add-actor (actorEmitter)="addActor($event)"></app-add-actor>
<button i18n="end battle button|Button used to conclude combat"
        class="btn" (click)="endBattle()">End battle!
</button>
<div class="form-check">
  <input type="checkbox" class="form-check-input" value="" id="trackTimeCheckbox" [(ngModel)]="isTimeTracked">
  <label
    i18n="save passed time checkbox|If this checkbox is checked, it adds the time spent in combat to the campaign current time"
    for="trackTimeCheckbox" class="form-check-label">Save passed time</label>
</div>
