<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">3D distance calculator</h5>
        <p class="card-text">Calculate distance between actors and objects that are on a different height level, e.g. between standing players and a flying dragon.</p>
        <button class="btn btn-primary" (click)="onShowCalculator()">Show</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Travel calculator</h5>
        <p class="card-text">Calculate travel time for given pace and distance</p>
        <button class="btn btn-primary" (click)="onShowTravel()">Show</button>
      </div>
    </div>
  </div>
</div>
<app-distance-calculator *ngIf="showCalculator"></app-distance-calculator>
<app-travel *ngIf="showTravel"></app-travel>
