<div class="row">
  <button class="btn btn-secondary list-group-item col-4 card" routerLink="3d-distance-calculator">
    <h5 class="card-title text-white">3D distance calculator</h5>
    <p class="card-text fst-italic">Calculate distance between actors and objects that are on a different height level, e.g. between standing players and a flying dragon.</p>
  </button>
  <button id="travel-calculator-button"
          class="btn btn-secondary list-group-item col-4 card" routerLink="travel-calculator">
    <h5 class="card-title text-white">Travel calculator</h5>
    <p class="card-text fst-italic">Calculate travel time for given pace and distance</p>
  </button>
  <button class="btn btn-secondary list-group-item col-4 card" routerLink="combat-difficulty-calculator">
    <h5 class="card-title text-white">Combat difficulty calculator</h5>
    <p class="card-text fst-italic">Calculate combat difficulty based on actors and monsters input</p>
  </button>
</div>

<router-outlet></router-outlet>
