<h2>
  Combat calculator
</h2>
<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Select from list
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Manually
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-monster-list-selector [participatingActors]="participatingActors"></app-monster-list-selector>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-manual-calculator [participatingActors]="participatingActors"></app-manual-calculator>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Select participating actors</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let actor of protagonists">
        <td>
          <div class="row">
            <label class="col-sm-10 form-check-label" for="{{actor.name}}checkbox">{{actor.name}}</label>
            <div class="col-sm-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="{{actor.name}}checkbox"
                       [checked]="isSelected(actor)"
                       (change)="onSelectActor(actor)">
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
