<div class="row">
  <button i18n="dead button|Button indicating that given character is dead"
          class="btn btn-primary" (click)="collapse.toggle()">Dead
  </button>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="row">
    Time of death: {{getTimeOfDeathFormatted()}} ({{getDiedAgoTime()}} ago)
  </div>
  <div class="row">
    <div class="col">
      <button i18n="revivify button|Button with a spell name, see Basic Rules pg. 104"
              class="btn btn-primary" (click)="revivify()" [disabled]="!canRevivify()">Revivify
      </button>
    </div>
    <div class="col">
      <button i18n="raise dead button|Button with a spell name, see Basic Rules pg. 103"
              class="btn btn-primary" (click)="raiseDead()" [disabled]="!canRaiseDead()">Raise Dead
      </button>
    </div>
    <div class="col">
      <button i18n="reincarnate button|Button with a spell name, see Basic Rules pg. 103"
              class="btn btn-primary" (click)="reincarnate()" [disabled]="!canReincarnate()">Reincarnate
      </button>
    </div>
    <div class="col">
      <button i18n="reincarnate button|Button with a spell name, see Basic Rules pg. 103"
              class="btn btn-primary" (click)="resurrection()" [disabled]="!canResurrection()">Reincarnate
      </button>
    </div>
  </div>
</div>

