<div class="row">
  <div class="col">
    <p>{{getMonsterName()}} Actions:</p>
  </div>
  <div *ngFor="let action of getActions()" class="col">
    <button class="btn btn-primary" ngbTooltip="{{action.getDescription().getDescription()}}"
            (click)="toggleSelectedActionRolls(action)">
      {{action.getName()}}
    </button>
  </div>
</div>
<div *ngIf="showSelectedActionRolls" class="row">
  <div class="col">Selected Action: <h5 class="fst-italic">{{selectedAction.getName()}}</h5></div>
  <div class="col">
    <button class="btn btn-primary" (click)="rollAttack()">
      Roll Attack
    </button>
    <p *ngIf="attackRollResult">Attack roll result: {{attackRollResult}}</p>
  </div>
  <div class="col" *ngFor="let diceRoll of selectedAction.getDescription().getDamageRolls()">
    <button class="btn btn-primary" (click)="rollHit(diceRoll, false)">Roll {{diceRoll.toString()}}</button>
    <button class="btn btn-warning" (click)="rollHit(diceRoll, true)">Roll Critical Hit</button>
    <p *ngIf="hitRollResult">Damage dealt: {{hitRollResult}}</p>
  </div>
</div>
