<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Short Rest
    </h5>
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">
            Actor
          </th>
          <th scope="col">
            Current HP
          </th>
          <th scope="col">
            Available Hit Dice
          </th>
          <th scope="col">
            Hit Dice to spend
          </th>
          <th scope="col">
            HP to add
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actor of playerCharacters">
          <td>
            {{actor.name}}
          </td>
          <td>
            {{actor.currentHp}}
          </td>
          <td>
            {{actor.availableHitDice}}
          </td>
          <td>
            <input type="number" placeholder="Hit Dice amount" [(ngModel)]="actorsToShortRestInput.get(actor)!.hitDiceSpent">
          </td>
          <td>
            <input type="number" placeholder="Add HP" [(ngModel)]="actorsToShortRestInput.get(actor)!.hpToAdd">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <label for="restDuration">Rest duration in hours:</label>
          <input type="number" placeholder="Hours" [(ngModel)]="shortRestDurationInHours" id="restDuration">
        </div>
        <div class="col">
          <button id="short-rest-confirm-button" class="btn btn-primary" (click)="confirmShortRest()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
