<h2>Traveling calculator</h2>
<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">
      <select (change)="setPace($event)">
        <option>Select pace</option>
        <option>Fast</option>
        <option>Normal</option>
        <option>Slow</option>
      </select>
    </th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="row">
        <div class="col">
          Calculate time
        </div>
        <div class="col">
          <label class="form-check-label" for="progressTime">Add time to campaign progress:</label>
        </div>
        <div class="col">
          <input class="form-check-input" type="checkbox" id="progressTime" [(ngModel)]="trackTime">
        </div>
      </div>
    </td>
    <td>
      <input type="number" [placeholder]="getTypeDistancePlaceholder()" (keydown.enter)="onCalculateTime($event)">
    </td>
  </tr>
  <tr>
    <td>Calculate distance</td>
    <td>
      <input type="number" [placeholder]="getTimePlaceholder()" (keydown.enter)="onCalculateDistance($event)">
    </td>
  </tr>
  </tbody>
</table>
<h3>
  {{travelInformation}}
</h3>
