<div class="container-fluid">
  Set up actors before starting the battle:
  <ul>
    <li *ngFor="let actor of battleActors">
      {{actor.name}} | <label for="initiative">Initiative: </label> <input id="initiative" type="text" required
                                                                           [(ngModel)]="actor.initiative">
    </li>
  </ul>
</div>
<div class="container-fluid">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="modelName"
             required
             [(ngModel)]="formModel.name" name="modelName" placeholder="Actor name">
      <label for="modelInitiative">Initiative</label>
      <input type="text" class="form-control" id="modelInitiative"
             required
             [(ngModel)]="formModel.initiative"
             name="modelInitiative">
    </div>
    <button type="submit">Add actor</button>
  </form>
</div>
