<div class="container">
  <h4 *ngIf="isStabilized(); else deathSavingThrows">Stabilized</h4>
  <ng-template #deathSavingThrows>
    <div class="row">
      <app-unconscious-damage *ngIf="showUnconsciousDamageComponent()" (hitTypeEventEmitter)="onDamageReceived($event)">
      </app-unconscious-damage>
    </div>
    <div class="row">
      <div class="col">
        <h4 id="death-saving-throws-label">Death saving throws</h4>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="stabilize()" id="stabilize-button"
                [disabled]="showUnconsciousDamageComponent()">Stabilize</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          Successes: {{successes}}
        </div>
        <div class="row">
          <div class="col">
            <button id="success-button" class="btn btn-success"
                    (click)="success()" [disabled]="showUnconsciousDamageComponent()"
            >Success
            </button>
          </div>
          <div class="col">
            <button id="critical-success-button" class="btn btn-success"
                    (click)="criticalSuccess()" [disabled]="showUnconsciousDamageComponent()"
            >Rolled 20
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          Failures: {{failures}}
        </div>
        <div class="row">
          <div class="col">
            <button id="fail-button" class="btn btn-danger"
                    (click)="failure()" [disabled]="showUnconsciousDamageComponent()"
            >Failure
            </button>
          </div>
          <div class="col">
            <button id="critical-fail-button" class="btn btn-danger"
                    (click)="criticalFail()" [disabled]="showUnconsciousDamageComponent()"
            >Rolled 1
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
