<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm">
          <label for="modelName">Actor's name:</label>
          <input type="text" class="form-control" id="modelName"
                 required
                 [(ngModel)]="formActorName" name="modelName">
        </div>
        <div class="col-sm">
          <label for="modelMaxHP">Max HP:</label>
          <input type="text" class="form-control" id="modelMaxHP"
                 required
                 [(ngModel)]="formActorMaxHp"
                 name="modelMaxHP"
          placeholder="Actor's max Hit Points">
        </div>
        <div class="col-sm">
          <label for="modelInitiative">Initiative</label>
          <input type="text" class="form-control" id="modelInitiative"
                 required
                 [(ngModel)]="formActorInitiative"
                 name="modelInitiative">
        </div>
        <div class="col-sm">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="savingThrowCheckbox" (change)="deathSavingThrowsEligibilityChange($event)">
            <label for="savingThrowCheckbox" class="form-check-label">Eligible for saving throws</label>
          </div>
          <button class="btn" type="submit">Add actor</button>
        </div>
      </div>
    </div>
  </form>
</div>
