<form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
  <label for="registration-username-input" class="form-label">Username</label>
  <input id="registration-username-input" type="text" formControlName="username" class="form-control">

  <label for="registration-password-input" class="form-label">Password</label>
  <input id="registration-password-input" type="password" formControlName="password" class="form-control">

  <label for="registration-email-input" class="form-label">Email address</label>
  <input id="registration-email-input" type="email" formControlName="emailAddress" class="form-control">

  <button id="registration-submit-button"
          [disabled]="!registrationFormGroup.valid" type="submit" class="btn btn-success">Submit</button>
</form>

<ng-template #registrationSuccessModal>
  <div id="registration-success-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="registration-success-modal-title">Registration success!</h4>
    </div>
    <div class="modal-body">
      <p>You can now log in.</p>
    </div>
    <div class="modal-footer">
      <button id="registration-success-modal-close-button"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="closeRegistrationSuccessModal()" routerLink="/login">Log in</button>
    </div>
  </div>
</ng-template>

<ng-template #userExistsModal>
  <div id="user-exists-modal">
    <div class="modal-header">
      <h4 class="modal-title" id="user-exists-modal-title">Failed to create user</h4>
    </div>
    <div class="modal-body">
<!--      <p>There is already user using this username and/or email address.</p>-->
      <p>Something went wrong.</p>
    </div>
    <div class="modal-footer">
      <p>Please try again</p>
      <button id="user-exists-modal-close-button"
              type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeUserExistsModal()">Close</button>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
