<form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
  <label for="registration-username-input" class="form-label">Username</label>
  <input id="registration-username-input" type="text" formControlName="username" class="form-control">

  <label for="registration-password-input" class="form-label">Password</label>
  <input id="registration-password-input" type="password" formControlName="password" class="form-control">

  <label for="registration-email-input" class="form-label">Email address</label>
  <input id="registration-email-input" type="email" formControlName="emailAddress" class="form-control">

  <button id="registration-submit-button"
          [disabled]="!registrationFormGroup.valid" type="submit" class="btn btn-success">Submit</button>
</form>

<router-outlet></router-outlet>
