<div class="row">
  <div class="col">
    <h4>General</h4>
    <div class="list-group">
      <label class="list-group-item">
        <input class="form-check-input" type="checkbox" [checked]="isUsingSISystem()"
               (change)="onUseSISystemChange()">
        Use metric system
      </label>
    </div>
  </div>

  <div class="col">
    <h4>Battle</h4>
    <div class="list-group">
      <label class="list-group-item">
        <input class="form-check-input" type="checkbox" [checked]="isAutoLoadProtagonists()"
               (change)="onAutoLoadProtagonistsChange()">
        Automatically load Player Characters to the initial battle list
      </label>
      <label class="list-group-item">
        <input class="form-check-input" type="checkbox" [checked]="isAutoLoadMonsterActions()"
               (change)="onAutoLoadMonsterActionsChange()">
        Automatically load all Monster Actions in the battle tracker
      </label>
    </div>
  </div>
</div>
